article{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

		.leiamais{
			font-size: 20px;
			color: #ccf;
			padding: 8px;
			margin: 16px;
			display: block;
			text-align: center;
			background-color: #E6E7E8;
		}

aside{
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	box-sizing:border-box;
	position: relative;
	top: 300px;
}

		aside a{
			color: inherit;
			font-family: "Open Sans Condensed", sans-serif;
			text-decoration: none;
		}

		aside h1{
			font-size: 30px;
			margin-bottom: 25px;
		}		

body{
	background-color: #F2FFFC;
	font-family: "Crimson Text";
	font-size: 120%;
	line-height: 1.5;
}
		
			
blockquote,aside,footer{
	padding: 16px;
}
			.fiat{
				background-color: #D9E5E3;
				border: 10px solid #C2CCCA;
				width: 250px;
				margin: 20px 40px;
				box-sizing: border-box;
				float: right;
			}
		
			.petrobras{
				background-color: #D9E5E3;
				border: 10px solid #C2CCCA;
				width: 250px;
				margin: 20px 40px;
				box-sizing: border-box;
				float: left;
			}
			
em{
	font-style: italic;
}

footer{
	clear: both; /* é conhecido como a classe clearifx*/
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

h2{
	font-size:30px;
	font-family: "Open Sans Condensed", sans-serif;
	clear: both;
}

h3{
	font-size: 20px;
	font-weight: bold;
}

.icones-sociais li{
	display: inline-block;
	}
		.icones-sociais a{
			width:40px;
			height: 40px;
			display:inline-block;
			text-indent: -9999px;
		}
		.github{
			background-image: url(../img/github.png);
		}

		.twitter{
			background-image: url(../img/twitter.png);
		}

		.linkedin{
			background-image: url(../img/linkedin.png);
		}

img{
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
}

main{
	float: left;
	width: 85%;
	padding-bottom:  80px;
}
		
	main a{
		color: #851944;
	}
	
	main div{
		width: 720px;
		margin: auto;
			/*As margens a seguir, combinadas, causam o mesmo efeito da margem logo acima.
			margin-left: auto; margin-right: auto;
			É bem comum, também, encontrarmos uma declaração como margin: 0 auto. 
			Neste caso, estamos definindo valores diferentes para as margens: zero para as margens superior e inferior e auto para as margens laterais. 
			De qualquer forma, temos o mesmo efeito: centralizar o elemento.
			*/
		padding: 30px;
	}
	
.minha-foto, .navegacao-site{
	box-sizing: border-box;
	border-bottom: 10px solid #000;
	border-left: 10px solid #000;
	float: right;
}

nav a{
	color: #F2FFFC;
	text-transform: lowercase;
}

						/*.navegacao-site{
							display: inline-block;
						}*/

p {
	text-align: justify;
	/*line-height: 1.5;*/
	margin: 20px 0;
}

.rodape{
	background-color: #000000;
	color: #F2FFFC;
	}
	

#rodape-pagina{
		background-color: #000;
		color: #F2FFFC;
		padding: 20px;
		clear: both;
}
		main footer{
			background-color: #F2FFFC;
			color: #000000
			}

strong{
	font-weight: bold;
}

.titulo-principal{
	font-size:60px;
	background-color: rgb(120,30,60);
	color: #FAFFFA;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	padding: 20px;
	margin:0;
	border-bottom: 10px solid black;
	text-transform: uppercase
}